
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.text-gray{
    color:#424242;
}
.text-light-gray{
    color:#727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    background-color:rgba(255, 144, 14, 1) ;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 10px;
}
main{
    max-width: 1440px;
    margin:0 auto;
}
main > section{
    margin-top:130px;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}
/* header style */
/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar,.banner{
    max-width: 1440px;
    margin:0 auto;
}
.banner-content{
    max-width: 860px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.banner-item{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width:100%;
}
.quick-list{
    font-weight: 500;
}
/* team and image related  */
.teams{
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}
.our-feature{
    margin-left: 130px;
    max-width:537px;
}
/* Feature related style */
#title-style{
    border-left:5px solid #FF900E;
    padding-left:20px;
}
.features{
    gap:140px;
}
.features .feature-card{
    padding: 30px;
    margin-bottom: 20px;
    box-shadow:0 4px 30px 0 rgba(0,0,0,0.06) ;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
#badge{
    padding :45px 42px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
.year{
    font-size: 3.7rem;
    font-weight: 700;
}

/* some fact related style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border:1px solid rgba(255, 144, 14, 1);
    width:240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding:12px; */
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom:10px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}
.fact-des{
    max-width: 540px;
}
/* Sponsor related style */
.sponsor-info{
    max-width: 540px;
    margin:50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
    justify-items: center;
}
.sponsor-companies img {
  filter: grayscale(100%);
}
.archi img{
    width:100%
}
/* footer style */
.copyright{
    max-width: 1440px;
    width: 100%;
    margin:0 auto;
}
.footer-style{
    margin-top: 50px;
    background-color:rgba(255, 144, 14, 0.1) ;
    padding: 20px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 12px;
}
/* Responsive media query */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }
    .team-image,
    .fact-container,
    .sponsor-companies{
    grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        margin-left: 20px;
    }
    .fact-container{
        justify-items: center;
        gap:24px;
    }
    #badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
@media screen and (min-width:576px) and (max-width
:992px){
    .teams,
    .features{
        flex-direction: column;
    }
    #badge,.fact-card{
        margin-top: 20px;
        margin-left: 20px;
    }
    .fact-container{
    grid-template-columns: repeat(2,1fr);
    }
    .our-feature{
        margin:20px auto;
    }
     .sponsor-companies{
    grid-template-columns: repeat(3,1fr);
    gap:25px;
    }
}